body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
    background-color: #0a490a;
    background-image: url('./img/5_background/complete_background.png');
    background-size: cover;
    background-position: center;
}

h1{
    color: #211e1e;
    text-align: center;
}

#gameContainer {
  position: relative;
  width: min(90vw, 720px);
}

canvas {
  display: block;          
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  background: black;
}

#startScreen {
  position: absolute;
  inset: 0;       
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: rgba(0,0,0,0.7);
  color: white;
  text-align: center;
  z-index: 10;
}

#fullscreen {
  position: relative;
}

#startScreen button {
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.fullscreen-btn{
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 20;           /* above overlay */
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: rgba(0,0,0,0.55);
  color: white;
}

.fullscreen-btn:hover{
  background: rgba(0,0,0,0.75);
}

:fullscreen #fullscreen canvas {
  width: min(100vw, calc(100vh * 1.5));  /* keep 3:2 ratio    */
  height: auto;
} 