body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a490a;
    background-image: url('');
}

h1{
    color: #c5c5c5;
}

canvas {
    background-color: black;
}